  .container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

/*header*/
header{
	background-color: #2f2f2f;
	min-height: 50px;
	border-top: #228B22 3px solid;
	border-bottom: #228B22 3px solid;
}

header h1{
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;
	color: #ffffff;
	font-weight: bold;
	text-shadow: 1px 1px 10px green;
}

/*showcase*/
.carousel-inner img{
	width: 100%;
	margin: auto;
	min-height: 70px;
}

/* Hide the carousel text when the screen is less than 768 pixels wide */
@media (max-width: 768px){
	.col-sm-3{
		padding-bottom: 1em;
	}
	
	.carousel-caption{
		display: none; 
	}
}

/*section*/
section{
	width: 100%;
	background-color: #e3e8ed;
	padding-top: 1em;
	padding-bottom: 1em;
	font-family: 'Roboto Slab', serif;
}

aside{
	width: 100%;
	background-color: #e3e8ed;
	padding-top: 1em;
	padding-bottom: 5em;
	font-family: 'Roboto Slab', serif;
}

section h2{
	font-size: 30px;
	margin-bottom: 1em;
	text-align: center;
	font-weight: bold;
	text-shadow: 1px 1px 10px green;
}

.col-sm-3 p a{
	text-decoration: none;
	color: #228B22;
	font-size: 16px;
	padding: .25em;
}

.col-sm-3 p{
	padding-top: 0.5em;
}

.col-sm-3 a:focus{
	color: #256BBC;
	border-color: #256BBC;
}

.col-sm-3 a:hover{
	color: #256BBC;
	border-color: #256BBC;
}

/*footer*/
.footer{
	background-color: #2f2f2f;
	padding: 2em;
	text-align: center;
	font-size: 16px;
	border-top: #228B22 3px solid;
	font-family: 'Roboto Slab', serif;
}

.footer p{
	color: #ffffff;
}

.footer p a{
	text-decoration: none;
	color: #ffffff;
}

a.footer-link:hover {font-family:monospace;}
