.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

/*header*/
header{
	background-color: #2f2f2f;
	min-height: 50px;
	border-top: #228B22 3px solid;
	border-bottom: #228B22 3px solid;
}

header h1{
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;
	color: #ffffff;
	font-weight: bold;
	font-style: italic;
	text-shadow: 1px 1px 10px green;
}

/*section*/
section{
	width: 100%;
	background-color: #545454;
	padding-top: 2em;
	padding-bottom: 2em;
	font-family: 'Roboto Slab', serif;
}

/*
iframe {
    position: fixed;
    background: #000;
    border: none;
    top: 0; right: 0;
    bottom: 0; left: 0;
    width: 100%;
    height: 100%;
}
*/

/*footer*/
.footer{
	background-color: #2f2f2f;
	padding: 2em;
	text-align: center;
	font-size: 16px;
	border-top: #228B22 3px solid;
	font-family: 'Roboto Slab', serif;
}

.footer p{
	color: #ffffff;
}

.footer p a{
	text-decoration: none;
	color: #ffffff;
}

a.footer-link:hover {font-family:monospace;}