body {
    background-color: #000000;
}

#tabs li a {
    color: #5f0101;
    font-weight: bold;
}

#home {
    text-align: center;
    margin-top: 2em;
}

#home p a{
    color: #6589bc;
    font-size: 1.5em;
    text-decoration: none;
}